$namespace: '.list';

#{$namespace} {
  border: $border-size solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}

#{$namespace}__title-wrapper {
  background-color: $white-transparent;
  border-bottom: $border-size solid $border-color;
  color: $white;
  flex: none;
  font-size: $font-size-big;
  margin: (- $editable-field-padding) (- $editable-field-padding) 0;
  padding: floor($padding / 2) floor($padding / 2) (floor($padding / 2) - $editable-field-padding);

  .editable-field__text {

    &:hover {
      background-color: $white-transparent;
    }
  }

  .editable-field__field {
    background-color: $white-transparent;
    color: $white;
  }
}

#{$namespace}__title {
  font-size: 1em;
  margin: 0;
  padding: $editable-field-padding;
}

#{$namespace}__list {
  background-color: $white-transparent;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: floor($padding / 2);
}

#{$namespace}__list-item {
  list-style: none;

  & + & {
    margin-top: floor($margin / 2);
  }

  &.-dragged + & {
    margin-top: 0;
  }

  &.-placeholder {
    background-color: $white-transparent;
    border-radius: $border-radius;
  }
}
