$namespace: '.ticket';

#{$namespace} {
  background-color: $white;
  border: $border-size solid $border-color;
  border-radius: $border-radius;
  padding: floor($padding / 2) floor($padding / 2) (floor($padding / 2) - $editable-field-padding);
}

#{$namespace}__name-wrapper {
  font-size: $font-size-regular;
  margin: (- $editable-field-padding) (- $editable-field-padding) floor($margin / 2);
}

#{$namespace}__name {
  font-size: 1em;
  margin: 0;
  padding: $editable-field-padding;
}

#{$namespace}__description-wrapper {
  color: lighten($font-color-basic, 20%);
  font-size: $font-size-small;
  margin: (- $editable-field-padding) (- $editable-field-padding) 0;

  .editable-field__field {
    color: $gray;
  }
}

#{$namespace}__description {
  font-size: 1em;
  margin: 0;
  padding: $editable-field-padding;
  white-space: normal;
}
