$namespace: '.editable-field';

#{$namespace} {
}

#{$namespace}__text {
  cursor: pointer;

  &:hover {
    background-color: $editable-field-bg;
  }
}

#{$namespace}__field {
  background-color: $editable-field-bg;
  border: 0;
  max-width: 100%;
  padding: $editable-field-padding;

  &:focus {
    outline: none;
  }
}

textarea#{$namespace}__field {
  height: 3em;
}
